<!DOCTYPE html>
<html lang="ko">
    <%- include('include/head') -%>
<body>
    <header>
        <%- include('include/header') -%>
    </header>

    <footer>
        <%- include('include/footer') -%>
    </footer>
</body>
</html>